### IDE Settings (Ignored) ###
# IntelliJ
.idea/
*.iml
/out/

# Eclipse
.classpath
.project
.settings/
.factorypath
/bin/

# NetBeans
/nbproject/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# VS Code
.vscode/

### Operating System ###
.DS_Store
Thumbs.db

### Compiled Code (Ignored) ###
*.class

### Build Artifacts (Ignored) ###
target/
*.jar
*.war
*.ear

### EXCEPTION: Ensure Source Code is NEVER Ignored ###
# This forces git to look inside src even if rules above conflict
!src/
!*.java